<div class="content mt-1 pt-1 pl-0">
   <div class="container-fluid">
      <div class="row m-0 px-0 py-1 justify-content-start cabecera sombra border">
         <div class="col-sm-2">
            <h4 class="m-0 font-weight-bold"><i class="fa fa-building"></i> Abonados</h4>
         </div>
         <div class="col-sm-6">
            <div class="container-fluid">
               <form  class="formGroup">
                  <div class="row">
                     <div class="col-sm-3">
                        <select name="" id="selecTipoBusqueda" class="form-control form-control-sm">
                           <option value="1">Cuenta</option>
                           <option value="2">Nombre</option>
                           <option value="3">Identificación</option>
                        </select>
                     </div>
                     <div class="col-sm-5">
                        <div class="container">
                           <input type="text" placeholder="Buscar" class="form-control form-control-sm"
                              id="buscarAbonado" />
                        </div>
                     </div>
                     <div class="col-sm-3">
                        <button class="btn btn-primary btn-sm">
                           <i class="fa fa-search" style="font-size:24pxi"></i> Buscar
                        </button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="col-sm-2">
            <input type="text" class="form-control mx-0 form-control-sm text-center" placeholder="Filtrar..." />
         </div>

         <div class="btn-group ml-auto mt-0">
            <button type="button" class="bg-transparent border-0 dropdown-toggle text-white" data-toggle="dropdown"
               aria-expanded="false"> <i class="bi-menu-button-wide text-white"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right bg-dark roboto">
               <button class="dropdown-item" type="button" >
                  <i class="bi-file-earmark-plus"></i>&nbsp; Nuevo</button>
               <button class="dropdown-item" type="button" data-toggle="modal" data-target="#imprimir">
                  <i class="bi bi-printer"></i>&nbsp; Imprimir</button>
               <button class="dropdown-item" type="button" data-toggle="modal" data-target="#exportar"><i class="bi-file-earmark-arrow-up"></i>&nbsp; Exportar</button>
            </div>
         </div>


      </div>
   </div>
</div>

<div class="container-fluid mt-5">
    <div class="card">
        <div class="card-body">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <h4 class="navbar-brand">{{title}}</h4>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                </div>
                <!-- Right navbar links -->
                <ul class="navbar-nav ml-auto me-3 mt-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <a href="/add-proyecto" class="dropdown-item">
                                <div class="media">
                                    <div class="media-body">
                                        <p class="dropdown-item-title mb-0">Nuevo</p>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="/imp-proyecto" class="dropdown-item">
                                <div class="media">
                                    <div class="media-body">
                                        <p class="dropdown-item-title mb-0">Imprimir/Exportar</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>

            </nav>
        </div>
    </div>
</div>

<div class="container-fluid mt-2">
    <div class="card mb-0">
        <div class="card-body table-responsive  center-form card-size">
            <table class="table table-hover table-head-fixed text-nowrap table-striped table-bordered table-sm ">
                <thead class="">
                    <tr class="text-center">
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Movimiento</th>
                        <th>Nivel</th>
                        <th>Estructura</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let proyecto of _proyectos | filter:stringFilter; let i = index ">
                        <td class="text-left">{{proyecto.codigo}}</td>
                        <td>{{proyecto.nombre}}</td>
                        <td class="text-center">
                            <i class="fa fa-check-circle-o check-circle" aria-hidden="true"
                                [hidden]=!proyecto.movimiento></i>
                        </td>
                        <td class="text-center">{{proyecto.estructura.nivel}}</td>
                        <td>
                            {{proyecto.estructura.nombre}}
                        </td>
                        <td class="text-center">
                            <div class="btn-group py-0">
                                <button type="button" class="btn btn-warning btn-badged dropdown-toggle py-0"
                                    data-toggle="dropdown" aria-expanded="false">
                                </button>
                                <div class="dropdown-menu dropdown-menu-right popLista">
                                    <button [disabled]="proyecto.codigo == '00'" class="dropdown-item"
                                        [routerLink]="['/modi-proyecto', proyecto.idproyecto]" type="button">
                                        <i class="bi bi-pencil"></i>&nbsp; Modificar</button>
                                    <button [disabled]="proyecto.codigo == '00'" class="dropdown-item"
                                        [routerLink]="['/info-proyecto', proyecto.codigo]" type="button">
                                        <i class="bi bi-pencil"></i>&nbsp; Info.</button>
                                    <button [disabled]="proyecto.codigo == '00'" class="dropdown-item" type="button"
                                        data-bs-toggle="modal" (click)="setDataToDelete(proyecto)"
                                        data-bs-target="#confirmDeleteModal">
                                        <i class="bi bi-file-minus"></i>&nbsp; Eliminar</button>
                                </div>
                            </div>
                        </td>

                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>

<!-- Modal de confirmación -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteLabel">Confirmar eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <div class="modal-body">
                ⚠️ ¿Estás seguro de que deseas eliminar este registro? Esta acción no se puede
                deshacer.
                <hr>
                <strong class="text-center">{{_proyecto.nombre}}</strong>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="delete()" id="btnConfirmDelete">Eliminar</button>
            </div>

        </div>
    </div>
</div>