<div class="container-fluid justify-content-center">
  <div class="card p-4 shadow col-sm-8 ">
    <div class="card-header">
      <h3 class="mb-3">Subir nuevo reporte</h3>

    </div>
    <div class="card-body">
      <form [formGroup]="form">
        <div class="mb-3">
          <label class="form-label">Nombre</label>
          <input type="text" class="form-control" formControlName="nombre">
        </div>

        <div class="mb-3">
          <label class="form-label">Descripción</label>
          <textarea class="form-control" rows="3" formControlName="descripcion"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label">Archivo JRXML</label>
          <input type="file" class="form-control" (change)="onFileSelected($event, 'jrxml')" accept=".jrxml">
        </div>

        <div class="mb-3">
          <label class="form-label">Archivo Jasper</label>
          <input type="file" class="form-control" (change)="onFileSelected($event, 'jasper')" accept=".jasper">
        </div>



      </form>

    </div>
    <div class="card-footer text-center">
      <button type="submit" class="btn btn-success btn-sm mr-3" (click)="onSubmit()">Guardar</button>
      <button type="submit" class="btn btn-outline-success btn-sm" (click)="regresar()">Regresar</button>
    </div>
    <div *ngIf="mensaje" class="alert mt-3"
      [ngClass]="{'alert-success': mensaje.includes('✅'), 'alert-danger': mensaje.includes('❌')}">
      {{ mensaje }}
    </div>
  </div>
</div>