<div class="container-fluid mt-5">
    <div class="card">
        <div class="card-body">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <h4 class="navbar-brand">{{title}}</h4>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <!-- Right navbar links -->
                <ul class="navbar-nav ml-auto me-3 mt-1">
                    <li class="nav-item dropdown">
                        <p class="nav-link" data-toggle="dropdown" href="#">
                            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                        </p>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalIfinan">
                                <!-- Message Start -->
                                <div class="media">
                                    <div class="media-body">
                                        <p type="submit" class="dropdown-item-title">
                                            Nuevo
                                        </p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <!-- Message Start -->
                                <div class="media">
                                    <div class="media-body">
                                        <p type="submit" class="dropdown-item-title">
                                            Imprimir/Exportar
                                        </p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid mt-2">
    <div class="card mb-0">
        <div class="card-body table-responsive  center-form card-size">
            <table class="table table-hover table-head-fixed text-nowrap table-striped table-bordered table-sm p-0">
                <thead class="mt-0">
                    <tr class="">
                        <th class="text-center"></th>
                        <th class="text-left">Nombre</th>
                        <th class="text-center">Código</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="detalle roboto small">
                    <tr *ngFor="let ifinan of _ifinan | filter: stringFilter; let i=index" class="fila pad0"
                        (click)="onCellClick($event, ifinan.idifinan )">
                        <td class="text-center small font-weight-bold">{{i+1}}</td>
                        <td>{{ ifinan.nomifinan }}</td>
                        <td class="text-center">{{ ifinan.codifinan }}</td>
                        <td class="text-center">
                            <div class="btn-group py-0">
                                <button type="button" class="btn btn-warning btn-xs dropdown-toggle py-0"
                                    data-toggle="dropdown" aria-expanded="false">
                                </button>
                                <div class="dropdown-menu dropdown-menu-right popLista">
                                    <button class="dropdown-item" type="button"
                                        [routerLink]="['/modi-ifinan', ifinan.idifinan]"
                                        routerLinkActive="router-link-active" data-toggle="collapse" data-target="#div1"
                                        [disabled]="ifinan.idifinan == 1">
                                        <i class="bi bi-pencil"></i>&nbsp; Modificar</button>
                                    <button class="dropdown-item" type="button" data-toggle="modal"
                                        data-target="#modalEliminar" (click)="eliminar( ifinan )"
                                        [disabled]="ifinan.idifinan == 1">
                                        <i class="bi bi-file-minus"></i>&nbsp; Eliminar</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalIfinan" tabindex="-1" aria-labelledby="modalIfinanLabel" data-bs-backdrop="static"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <app-add-ifinan></app-add-ifinan>
            </div>

        </div>
    </div>
</div>