<div class="card p-3 shadow">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-10">
        <h3 class="mb-3">Reportes disponibles</h3>

      </div>
      <div class="col-sm">
        <button class="btn btn-sm btn-outline-primary" (click)="cargarReportes()">Recargar</button>
        <button class="btn btn-sm btn-primary" [routerLink]="['/add-reporte']">Nuevo reporte</button>

      </div>
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="mensaje" class="alert alert-danger">{{ mensaje }}</div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Parámetros</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of reportes">
          <td>{{ r.nombre }}</td>
          <td>{{ r.descripcion }}</td>
          <td>{{ r.parametros }}</td>
          <td>
            <button class="btn btn-xs btn-primary mr-2" data-toggle="modal" data-target="#exampleModal"
              (click)="ejecutarReporte(r)">
              Ejecutar
            </button>
            <button class="btn btn-xs btn-warning mr-2">
              Modificar
            </button>
            <button type="button" class="btn btn-xs btn-danger" (click)="eliminar(r)">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Parametros del reporte</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="report">
          <div *ngFor="let p of parametros">
            <label>{{ p.nombre }}</label>

            <ng-container [ngSwitch]="p.tipo">
              <input class="form-control form-control-sm" *ngSwitchCase="'java.lang.String'" type="text"
                [formControlName]="p.nombre" />
              <input class="form-control form-control-sm" *ngSwitchCase="'java.lang.Integer'" type="number"
                [formControlName]="p.nombre" />
              <input class="form-control form-control-sm" *ngSwitchCase="'java.util.Date'" type="date"
                [formControlName]="p.nombre" />
              <input class="form-control form-control-sm" *ngSwitchCase="'java.lang.Boolean'" type="checkbox"
                [formControlName]="p.nombre" />
              <input class="form-control form-control-sm" *ngSwitchDefault type="text" [formControlName]="p.nombre" />
            </ng-container>
          </div>


        </form>
        <!-- Selector para extensión -->
        <label>Formato:</label>
        <select class="form-control form-control-sm" [(ngModel)]="extension">
          <option value="pdf">PDF</option>
          <option value="xlsx">Excel</option>
          <option value="csv">CSV</option>
        </select>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-sm btn-outline-success" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-sm btn-success" (click)="onSubmit()">Aceptar</button>
      </div>
    </div>
  </div>
</div>