<div class="card p-3 shadow">
  <h3 class="mb-3">Reportes disponibles</h3>
  <button class="btn btn-sm btn-primary" (click)="cargarReportes()">reload</button>

  <div *ngIf="mensaje" class="alert alert-danger">{{ mensaje }}</div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Parámetros</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of reportes">
        <td>{{ r.nombre }}</td>
        <td>{{ r.descripcion }}</td>
        <td>{{ r.parametros }}</td>
        <td>
          <button class="btn btn-xs btn-primary mr-2" data-toggle="modal" data-target="#exampleModal"
            (click)="ejecutarReporte(r)">
            Ejecutar
          </button>
          <button class="btn btn-xs btn-warning mr-2">
            Modificar
          </button>
          <button class="btn btn-xs btn-danger">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="report" (ngSubmit)="onSubmit()">
          <div *ngFor="let p of parametros">
            <label>{{ p.nombre }}</label>

            <ng-container [ngSwitch]="p.tipo">
              <input *ngSwitchCase="'java.lang.String'" type="text" [formControlName]="p.nombre" />
              <input *ngSwitchCase="'java.lang.Integer'" type="number" [formControlName]="p.nombre" />
              <input *ngSwitchCase="'java.util.Date'" type="date" [formControlName]="p.nombre" />
              <input *ngSwitchCase="'java.lang.Boolean'" type="checkbox" [formControlName]="p.nombre" />
              <input *ngSwitchDefault type="text" [formControlName]="p.nombre" />
            </ng-container>
          </div>

          <!-- Selector para extensión -->
          <label>Formato:</label>
          <select formControlName="extension">
            <option value="pdf">PDF</option>
            <option value="xlsx">Excel</option>
            <option value="csv">CSV</option>
          </select>

          <button type="submit">Generar Reporte</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>