<div class="content mt-1 pt-1 px-2">
    <div class="container-fluid">
        <div class="row mt-0 px-1 py-1 justify-content-start cabecera border sombra">
            <h3 class="ml-2 mt-0 mb-0 font-weight-bold text-truncate"> <i class="fa fa-building-o"
                    aria-hidden="true"></i>
                &nbsp; {{title}} </h3>

            <div class="btn-group ml-auto mt-0  pb-0">
                <button type="button" class="bg-transparent border-0 dropdown-toggle text-white text-right mt-0"
                    data-toggle="dropdown" aria-expanded="false"> <i class="bi-menu-button-wide "></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right bg-dark roboto mt-0 ">

                    <button class="dropdown-item text-white" [routerLink]="['/proyectos']" type="button">
                        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                        &nbsp; Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-8 mx-auto">
            <div class="card card-size p-3">
                <form [formGroup]="f_proyecto" class="mt-3 mb-0">
                    <div class="row">
                        <!-- Código -->
                        <div class="col-sm">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text form-control-sm">Código</span>
                                <input type="text" class="form-control form-control-sm" formControlName="codigo"
                                    (change)="getValidacionCodigo($event)" [ngClass]="{
                    'is-invalid': f['codigo'].invalid && f['codigo'].touched,
                    'is-valid': f['codigo'].valid && f['codigo'].touched
                  }" />
                            </div>
                        </div>

                        <!-- Nombre -->
                        <div class="col-sm">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text form-control-sm">Nombre</span>
                                <input type="text" class="form-control form-control-sm" formControlName="nombre"
                                    (change)="getValidarNombre($event)" [ngClass]="{
                    'is-invalid': f['nombre'].invalid && f['nombre'].touched,
                    'is-valid': f['nombre'].valid && f['nombre'].touched
                  }" />
                                <div *ngIf="sw_nombre" class="error d-flex align-items-center ps-2">
                                    <i class="bi bi-x-circle"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Movimiento -->
                        <div class="col-sm">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text form-control-sm">Movimiento</span>
                                <select class="form-control form-control-sm" formControlName="movimiento"> >
                                    <option [value]="false">No</option>
                                    <option [value]="true">Sí</option>
                                </select>
                            </div>
                        </div>

                        <!-- Estructura -->
                        <div class="col-sm">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text form-control-sm">Estructura</span>
                                <select class="form-control form-control-sm" [compareWith]="compararEstructura" formControlName="estructura">
                                    <option *ngFor="let estructura of _estructuras" [ngValue]="estructura">
                                        {{estructura.nombre}} - Nivel({{estructura.nivel}})
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="card-footer mb-0 text-center">
                    <button type="button" (click)="regresar()" class="btn btn-sm btn-success mr-2">Cancelar</button>
                    <button type="submit" class="btn btn-sm btn-outline-success" (click)="save()"
                        [disabled]="f_proyecto.invalid">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>