<div class="container-fluid mt-2">
    <div class="card">
        <div class="card-body">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <h4 class="navbar-brand">{{title}}</h4>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown d-flex">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="bi bi-menu-button-wide-fill"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" [routerLink]="['/add-proyecto']">Nuevo</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Exportar / Imprimir</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid mt-2">
    <div class="card mb-0">
        <div class="card-body">
            <table class="table table-hover table-bordered table-striped table-sm bg-dark">
                <thead class="">
                    <tr class="text-center">
                        <th>N°</th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Movimiento</th>
                        <th>Nivel</th>
                        <th>Estructura</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let proyecto of _proyectos; let i = index ">
                        <td class="col-sm text-center">{{i+1}}</td>
                        <td class="text-center">{{proyecto.codigo}}</td>
                        <td>{{proyecto.nombre}}</td>
                        <td class="text-center">
                            <i class="bi bi-x-circle " [hidden]=proyecto.movimiento></i>
                            <i class="bi bi-check-circle" [hidden]=!proyecto.movimiento></i>
                        </td>
                        <td class="text-center">{{proyecto.idestructura_estructura.nivel}}</td>
                        <td>
                            {{proyecto.idestructura_estructura.nombre}}
                            <span class="text-right m-2 editIcon ">
                                <i class="bi bi-pencil-square " [routerLink]="['/modi-proyecto', proyecto.idproyecto]"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>