<div class="content mt-1 pt-1 px-2">
    <div class="container-fluid">
        <div class="row mt-0 px-1 py-1 justify-content-start cabecera border sombra">
            <h3 class="ml-2  font-weight-bold text-truncate"> <i class="fa fa-building-o" aria-hidden="true"></i>
                &nbsp; {{title}} </h3>
            <div class="btn-group ml-auto mt-0  pb-0">
                <input class="form-control form-control-sm text-center " type="text" placeholder="Filtrar..." />

                <button type="button" class="bg-transparent border-0 dropdown-toggle text-white text-right mt-0"
                    data-toggle="dropdown" aria-expanded="false"> <i class="bi-menu-button-wide text-white"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right bg-dark roboto mt-0 ">
                    <button class="dropdown-item" type="button">
                        <i class="bi bi-printer"></i> &nbsp; Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mb-0 mt-3">
        <div class="col-sm-8 card center-form card-size">
            <div class="card-header cabecera cardTab">
                <ul class="nav nav-tabs card-header-tabs cabecera cardTab">
                    <li class="nav-item"><a class="nav-link active" (click)="getGProyectos(_codigo)"
                            href="#proyectos" data-toggle="tab">G.Proyectos</a>
                    </li>
                    <li class="nav-item"><a class="nav-link cardTab" (click)="getPartidasGastos(_codigo)"
                            href="#pgastos" data-toggle="tab">Partidas presupuestarias</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="active tab-pane" id="proyectos">
                        <div class="post">
                            <div class="user-block mb-0">
                                <div class="card-body table-responsive p-0 " style="height: 500px;">
                                    <table
                                        class="table table-sm table-hover table-striped table-head-fixed table-bordered sombra">
                                        <thead class="text-center">
                                            <tr>
                                                <th>Código</th>
                                                <th>Nombre</th>
                                                <th>Movimientos</th>
                                                <th>Estructura</th>
                                                <th>Fecha</th>
                                            </tr>
                                        </thead>
                                        <tbody class="detalle roboto" >
                                            <tr *ngFor="let gProyecto of _gProyectos | filter:stringFilter"
                                                class="pad0 fila">
                                                <td>{{gProyecto.codigo}}</td>
                                                <td class="truncate-text " [attr.title]="gProyecto.nombre">
                                                    {{gProyecto.nombre}}</td>
                                                <td class="text-center">
                                                    <i class="fa fa-check-circle-o check-circle" aria-hidden="true"
                                                        [hidden]=!gProyecto.movimiento></i>
                                                </td>
                                                <td>{{gProyecto.estructura?.nombre}}</td>
                                                <td class="text-center">{{ gProyecto.feccrea | date:'dd/MM/yyyy'
                                                    }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="pgastos">
                        <div class="post">
                            <div class="user-block mb-0">

                                <div class="card-body table-responsive p-0 " style="height: 500px;">
                                    <table
                                        class="table table-sm table-hover table-striped table-head-fixed table-bordered sombra">
                                        <thead class="">
                                            <tr class="text-center">
                                                <th>Partida</th>
                                                <th>Denominación</th>
                                                <th>Codificado</th>
                                                <th>Inicial</th>
                                                <th>Reformas</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody class="detalle roboto">
                                            <tr *ngFor="let pgasto of _pgastos | filter:stringFilter; let i = index " class="pad0 fila">
                                                <td class="text-center">{{pgasto.codpar}}</td>
                                                <td class="truncate-text" [attr.title]="pgasto.nompar">{{pgasto.nompar}}
                                                </td>
                                                <td class="col-sm-1 text-right">{{pgasto.inicial +
                                                    pgasto.totmod}}</td>
                                                <td class="text-right">{{pgasto.inicial}}</td>
                                                <td class="text-right">{{pgasto.totmod}}</td>
                                                <td class="text-center">
                                                    <div class="btn-group py-0">
                                                        <button type="button"
                                                            class="btn btn-warning btn-badged dropdown-toggle py-0"
                                                            data-toggle="dropdown" aria-expanded="false">
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right popLista">
                                                            <button class="dropdown-item" type="button"
                                                                [routerLink]="['/info-gasto',pgasto.idpresupuesto]">
                                                                <i class="bi bi-pencil"></i>&nbsp;
                                                                Info.</button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-sm btn-success" (click)="volver()">
                    Cancelar
                </button>
            </div>
        </div>
    </div>

</div>