<div class="content mt-1 pt-1 px-2">
   <div class="container-fluid">
      <div class="row mt-0 px-1 py-1 justify-content-start cabecera border sombra">
         <h3 class="ml-2 mt-0 mb-0 font-weight-bold text-truncate"> <i class="fa fa-building-o" aria-hidden="true"></i>
            &nbsp; {{title}} </h3>
         
         <div class="btn-group ml-auto mt-0  pb-0">
            <input class="form-control form-control-sm" [(ngModel)]="stringFilter" (input)="filtrar()"
               placeholder="Filtrar...">
            <button type="button" class="bg-transparent border-0 dropdown-toggle text-white text-right mt-0"
               data-toggle="dropdown" aria-expanded="false"> <i class="bi-menu-button-wide "></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right bg-dark roboto mt-0 ">
               <button class="dropdown-item text-white" [routerLink]="['/add-proyecto']" type="button">
                  <i class="bi-calculator-fill"></i> &nbsp; Nuevo</button>
               <button class="dropdown-item text-white" [routerLink]="['/imp-proyecto']" type="button">
                  <i class="bi bi-printer"></i> &nbsp; Imprimir / Exportar</button>
               <button class="dropdown-item text-white" [routerLink]="['/inicio']" type="button">
                  <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                  &nbsp; Cerrar</button>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- <div [innerHTML]="saludo"></div> -->
<div class="container-fluid ">
   <div class="row mb-0">
      <div class="col-sm-8 table-responsive center-form card-size">
         <table class="table table-sm table-hover table-striped table-head-fixed table-bordered sombra">
            <thead class="">
               <tr class="text-center">
                  <th (click)="ordenarPor('codigo')">Código
                     <i *ngIf="ordenColumna === 'codigo'"
                        [ngClass]="{'bi bi-caret-up-fill force-warning': ordenAscendente,'bi bi-caret-down-fill text-warning': !ordenAscendente}"></i>
                  </th>
                  <th (click)="ordenarPor('nombre')">Nombre
                     <i *ngIf="ordenColumna === 'nombre'"
                        [ngClass]="{'bi bi-caret-up-fill force-warning': ordenAscendente,'bi bi-caret-down-fill text-warning': !ordenAscendente}"></i>
                  </th>
                  <th>Movimiento</th>
                  <th>Nivel </th>
                  <th></th>
               </tr>
            </thead>
            <tbody class="detalle roboto">
               <tr class="fila pad0" *ngFor="let proyecto of proyectosFiltrados; let i = index">
                  <td class="text-left">{{proyecto.codigo}}</td>
                  <td>{{proyecto.nombre}}</td>
                  <td class="text-center">
                     <i class="fa fa-check-circle-o check-circle" aria-hidden="true" [hidden]=!proyecto.movimiento></i>
                  </td>
                  <td class="text-center">{{proyecto.estructura?.nivel}}</td>
                  <td class="text-center">
                     <div class="btn-group py-0">
                        <button type="button" class="btn btn-xs btn-warning btn-badged dropdown-toggle py-0"
                           data-toggle="dropdown" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right popLista">
                           <button [disabled]="proyecto.codigo == '00'" class="dropdown-item"
                              [routerLink]="['/modi-proyecto', proyecto.idproyecto]" type="button">
                              <i class="bi bi-pencil"></i>&nbsp; Modificar</button>
                           <button [disabled]="proyecto.codigo == '00'" class="dropdown-item"
                              [routerLink]="['/info-proyecto', proyecto.codigo]" type="button">
                              <i class="bi bi-pencil"></i>&nbsp; Info.</button>
                           <button [disabled]="proyecto.codigo == '00'" class="dropdown-item" type="button"
                              data-bs-toggle="modal" (click)="setDataToDelete(proyecto)"
                              data-bs-target="#confirmDeleteModal">
                              <i class="bi bi-file-minus"></i>&nbsp; Eliminar</button>
                        </div>
                     </div>
                  </td>

               </tr>
            </tbody>
         </table>
      </div>
   </div>

</div>