<div class="container-fluid mt-2">
    <div class="card card-success card-outline mb-4">
        <div class="card-header">
            <div class="card-title">{{title}}</div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Código</span>
                        <input type="text" class="form-control" placeholder="Min 2 - 00" aria-label="codigo"
                            aria-describedby="basic-addon1" />
                    </div>
                </div>
                <div class="col-sm">
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon3">Nombre</span>
                            <input type="text" class="form-control" id="basic-url"
                                aria-describedby="basic-addon3 basic-addon4" />
                        </div>
                        <!--      <div class="form-text" id="basic-addon4">
                        Example help text goes outside the input group.
                    </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Movimiento</span>
                        <select class="form-control">
                            <option value=0>No</option>
                            <option value=1>Si</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Estructura</span>
                        <select class="form-control">
                            <option *ngFor="let estructura of _estructuras" value=0>{{estructura.nombre}} - Nivel({{estructura.nivel}})</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer text-right">
            <button type="submit" (click)="regresar()" class="btn btn-sm btn-success me-2">Cancelar</button>
            <button type="submit" class="btn btn-sm btn-outline-success">Aceptar</button>
        </div>
    </div>
</div>