/* You can add global styles to this file, and also import other style files */
.text-right {
  text-align-last: right;
}
.bi-check-circle {
  color: rgb(39, 248, 11);
}
.bi-x-circle {
  color: rgb(255, 10, 10);
}
.upperCase {
  text-transform: uppercase;
}
.center-form {
  width: 800px;
  margin: 0 auto;
}
