.cabecera {
   background-color: var(--bgcolor1);
   color: rgb(252, 169, 75);
}

.detalle { background-color: var(--bgcolor2); }

.fila:hover {
   background-color: #117a8B;
   color: white;
   cursor: pointer;
}

.ancho200{
   max-width: 200px;
}

