.cabecera {
   background-color: var(--bgcolor1, #0d6efd); /* Azul Bootstrap por defecto */
   color: white;
}

.nuevoBG1 { 
   background-color: var(--bgcolor1, #0d6efd); 
}

.detalle { 
   background-color: var(--bgcolor2, #0dd9fdaf); /* Gris por defecto */
}

.nuevoBG2 { 
   background-color: var(--bgcolor2, #6c757d); 
}

.fila:hover {
   background-color: #117a8B;
   color: white;
   cursor: pointer;
}

.txt-right {
  float: right;
  width: 300px; /* Ajusta el ancho según sea necesario */
}
.check-circle {
  color: rgb(238, 255, 0);
}
.uncheck-circle {
  color: rgb(255, 10, 10);
}
.upperCase {
  text-transform: uppercase;
}
.center-form {
  width: 800px;
  margin: 0 auto;
}
.pdfViewer {
  width: 100%;
  height: 700px;
}
.card-size {
  height: 600px;
  width: 100%;
}
.hoverable-row:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
.selected {
  background-color: #cfe8fc;
}

.truncate-text {
  max-width: 200px;     /* ajusta el ancho de la celda */
  white-space: nowrap;  /* evita saltos de línea */
  overflow: hidden;     /* oculta lo que no cabe */
  text-overflow: ellipsis; /* agrega los ... */
  display: inline-block;
  vertical-align: middle;
}
