<div class="content-header">
    <div class="container-fluid">
        <div class="row mt-5 justify-content-center text-center">
            <div class="col-sm-6 sombra cabecera border">
                <h5 class="font-weight-bold mt-2">{{title}}</h5>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card">
                <div class="card-body col-sm detalle sombra">
                    <form [formGroup]="f_reporte">
                        <div class="col-sm">
                            <div class="input-group input-group-sm flex-nowrap">
                                <span class="input-group-text form-control-sm" id="addon-wrapping">Reportes</span>
                                <select type="text" class="form-control form-control-sm" aria-label="Reporte"
                                    aria-describedby="addon-wrapping" formControlName="reporte">
                                    <option [ngValue]="reporte.value" *ngFor="let reporte of listaReportes">
                                        {{reporte.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="input-group input-group-sm mt-3 flex-nowrap" *ngIf="f_reporte.value.reporte==1">
                                <span class="input-group-text form-control-sm" id="addon-wrapping">Nivel</span>
                                <select type="text" class="form-control form-control-sm"
                                    aria-describedby="addon-wrapping" formControlName="nivel">
                                    <option [ngValue]="estructura" *ngFor="let estructura of _estructura">
                                        {{estructura.nombre}}
                                        ({{estructura.nivel}})</option>
                                </select>
                            </div>
                            <div class="input-group input-group-sm form-control-sm mt-3 flex-nowrap"
                                *ngIf="f_reporte.value.reporte==2">
                                <span class="input-group-text form-control-sm" id="addon-wrapping">Grupo</span>
                                <input type="text" class="form-control" aria-describedby="addon-wrapping"
                                    formControlName="grupo">
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="input-group input-group-sm mt-3 flex-nowrap">
                                <span class="input-group-text form-control-sm" id="addon-wrapping">Extenciones</span>
                                <select type="text" class="form-control form-control-sm" aria-label="Reporte"
                                    aria-describedby="addon-wrapping" formControlName="extencion">
                                    <option [ngValue]="reporte.nombre" *ngFor="let reporte of listaExtenciones">
                                        {{reporte.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer ">
                    <div class="row mt-2">
                        <div class="col-sm text-center">

                            <button type="submit" class="btn btn-sm btn-success mr-2" data-toggle="modal"
                                data-target="#exampleModal" (click)="onSubmit()">Aceptar</button>
                            <button type="submit" class="btn btn-sm btn-outline-success mr-2"
                                [routerLink]="['/proyectos']">Cancelar</button>
                            <button type="submit" class="btn btn-sm btn-outline-primary" data-toggle="modal"
                                data-target="#exampleModal" (click)="jasperReport()">JasperReport</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" *ngIf="f_reporte.value.extencion =='.pdf'" data-backdrop="static"
    data-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header cabecera">
                <h5 class="modal-title" id="exampleModalLabel">Visor Reporte</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body detalle">
                <iframe id="pdfViewer" class="pdfViewer" frameborder="0" height="400px" style="border:none;"></iframe>
            </div>
        </div>
    </div>
</div>